h1{
  color: black;
}
ul{
  color: purple;
  font-style: bold;
  font-style: italic;
}
body{
  background: gray;
  background-image: url("https://www.google.co.uk/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwioyYLA6d7MAhVBPT4KHcCbCyAQjhwIBQ&url=http%3A%2F%2Fwww.hercampus.com%2Flife%2Ffamily-friends%2Fso-long-high-school-so-long-besties-how-stay-touch-your-high-school-bffs-college&psig=AFQjCNEfbYGP1QI34jI4emVxRPInr9X1TQ&ust=1463495976416854");
}
