h1{
  color: black;
}
ul{
  color: black;
  font-style: bold;
  font-style: arial;
}
body{
  background: #99CCFF;
  display:inline-block;
}
h2{
  display:inline;
  padding-left:60px;
  margin-left:140px;
}
img:hover{
  opacity: 0.7;
  width: 50px;
  border-color:red;
}
img{
  display:block;
  margin-left: 5px;
}
p{
  margin-left: 60px;
  padding-left: 60px;
}
aside{
  display:inline;
  margin-left: 20px;
  font-style: bold;
}
