h1{
  color: black;
}
ul{
  color: black;
  font-style: bold;
  font-style: normal;
}
body{
  background: #e6ffff;
  display:inline-block;
}
h2{
  display:inline;
  padding-left:50px;
  margin-left:120px;
}
img{
  display:inline;
  margin-left: 5px;
  width:20%;
  
}
p{
  margin-left: 10px;
  padding-left: 10px;
}
aside{
  display:inline;
  margin-left: 60px;
  font-variant: small-caps;
}
